body{

    font-family: "Arial Narrow";


}


header{

    padding: 200px;
}
h1,
h2
{color: #00afaf;
   text-align: center;
   font-weight: 900;

}

.project-tile {
    background-color: #f9f7d4;
}

.project-tile a {
    color: red;
}